{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Melon+Dog.jpg' %}" alt="banner flop Space">
                    <h1 class="banner__titulo"> Bem Vindos a Minha Mente! </h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Imperatriz</li>
                        <li class="tags__tag">Rainha</li>
                        <li class="tags__tag">Princesa</li>
                        <li class="tags__tag">Condessa</li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pelas lendas do FlopTok</h2>
                        <ul class="cards__lista">
                            {% if cards %}

                            {% for fotografia in cards %}

                            <li class="card">
                                <a href="{% url 'imagem' fotografia.id %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/' %}{{ fotografia.foto }}" alt="foto">
                                </a>
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ fotografia.nome }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ fotografia.legenda }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>

                                {% endfor %}
                                {% else %}
                                {% endif %}
                            </li>
                            
                 
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>

{% endblock %}